<!-- <hello name="{{ name }}"></hello>
<p>
	Start editing to see some magic happen :)
</p> -->
<label>Server Name:</label>
<input type="text" class="form-control" (input)="onUpadteServerName($event)" />
<!-- <input type="text" class="form-control" [(ngModle)]="serverName" /> -->
<p>{{serverName}}</p>
<br />
<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateStatus()"
>
  Add Server
</button>
<!-- <p>{{allowNewServer}}</p> -->
<p *ngIf="$1"> server was created! serverName {{serverName}}</p>
<!-- <p>{{serverCreationStatus}}</p> -->
<p [innerText]="allowNewServer"></p>
<p>Server with ID "{{serverId}}" is "{{getServerStatus()}}"</p>
